:root {
  background-image: url('/backdrop2.png');
  background-size: cover;
  
  
}
.header {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:safe;
  /* padding:10px; */
  /* margin-bottom:-150px; */
}
.messageComponents {
  display:flex;
  flex-direction:row;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-basis:50%; */
  /* margin-left:20px; */
}
.nav {
  display: flex;
  /* margin-right:auto; */
  /* flex-basis: 25%; */
  justify-content: space-around;
  align-items:center;
  background-image: url('/cloud3.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: -10px center; */
    /* move image 20px to the right */
  /* background-position-y: center; */
  position: relative;
  box-sizing: border-box;
  top:-60px;
  left: -50px;
  width: 350px;
  height: 350px;
  /* padding: 40px; */
  z-index: 1;
  mix-blend-mode: luminosity;
  border-radius: 500px;
}
.giftReq{
  /* margin-top:20px; */
  
  display:flex;
  position:relative;
    flex-basis: 50%;
}
.gift-params-container{
  display:flex;
  position:relative;
  flex-basis:50%;
  flex-direction: column;
  /* align-items:left; */
  /* justify-content: center; */
  background-color: #f6e7f7;
  border-radius: 10px;
  padding: 20px;

}
/* CLOUDS ARE FROM A CODEPEN AS FOLLOWS
https: //codepen.io/Mark_Bowley/pen/LYZEBq 
had to refactor because of Gradient Errors but I cannot claim the clouds as my own whatsoever!*/
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 250px;
  z-index: -1;
}


@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }

  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }

  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;

  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */
/* had to refactor to this, Autoprefixer */
.cloud {
background: #fff;
  background: linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
.input-field{
  border:none;
  border-radius:5px;
  padding:10px;
  margin:10px;
  font-family: 'Lobster', cursive;
  font-size:18px;
  color: #6c5b7b;
  background-color: #fff;
  box-shadow:2px 2px 6px rgba(0,0,0,0.1);

}
.submit-button{
    border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 10px;
      font-family: 'Lobster', cursive;
      font-size: 18px;
      color: #fff;
      background-color: #c225b5;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
}

.login-details{
font-size: 20px;
color: rgb(0, 0, 0);}

.submit-button:hover{
  background-color: #dff13a;
}
.gift-result-container{
  margin-top: 20px;
  background-color: #ff39ec;
  border-radius: 10px;
  padding:20px;
  text-align:center;
}
.gift-result-text{
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #6c5b7b;

}
.container { 
  position:absolute;
  height: 50vh;
  width:50vh;
  padding:0;
  /* display:flex; */
  /* align-content: center; */
  /* top: 20%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* left: 50%;  */
  /* border-style: dashed; */
  z-index: -1;
  /* overflow: hidden; */
  /* margin: 0 auto; */
}
.container.moving {
  position:fixed;
  animation: slide 10s ease-in-out infinite;
  top:75%;
  left:15%;
    transform: translate(-50%, -50%);

}

.container.fixed {
position: fixed;
top: 75%;
left: 15%;
transform: translate(-50%, -50%);
}
.container.fixed .overlay {
  animation: none;
}

.container:before {
  content: '';
  display: block;
  /* padding-top: 100%; */
}
.container:hover .background {
  transform: scale(1.1);
}
/* .container {
  animation: slide 9s ease-in-out infinite;
} */

/*  trying to make my handsome wizard do a lazy arc across the screen */
@keyframes slide {
  0% {
    transform: translate(-50%, -50%) translateX(0) translateY(0%);
  }

  25% {
    transform: translate(-50%, -50%) translateX(-20%) translateY(20%);
  }

  50% {
    transform: translate(-50%, -50%) translateX(10%) translateY(-40%);
  }

  75% {
    transform: translate(-50%, -50%) translateX(400%) translateY(-100%);
  }

  100% {
    transform: translate(-50%, -50%) translateX(0) translateY(0%);
  }
}
.background {
  position: relative;
  top:0;
  left: 0;
  width: 80%;
  height: 80%;
  /* z-index: -1; */
  animation: Background 30s ease infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/wizard.png');
  /* disable image repetition */
  transform-style: preserve-3d;
  border-radius: 50%;
}
@keyframes Background {
  0% {
    transform: translateZ(-50px) rotateY(0deg);
  }

  100% {
    transform: translateZ(-50px) rotateY(360deg);
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#typed-text {
  color: red;
  font-weight: bold;
}
@media (max-width: 768px) {
  .background {
    transform: translateZ(-20px) rotateY(0deg);
  }


}
/* messages */
/* styles for the ChatDisplay component */
.ChatDisplay {
  position: fixed;
  top: 0;
  right: -300px;
  /* start offscreen */
  width: 300px;
  height: 100vh;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: right 0.3s ease-in-out;
  /* animate the slide-in */
  z-index: 9999;
  /* make sure it's on top of other elements */
}

.ChatDisplay--open {
  right: 0;
  /* slide in */
}

/* styles for the button that toggles the sidebar */
.ChatDisplay__toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #c9e71b;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 9998;
  margin-right:10px;
  /* make sure it's below the sidebar */
}

/* styles for the table and its contents */
.ChatDisplay {
  position: fixed;
  top: 62px;
  bottom: 0;
  width: 300px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.ChatDisplay table {
  width: 100%;
  border-collapse: collapse;
}

.ChatDisplay th,
.ChatDisplay td {
  padding: 0.5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table {
  margin: 0 auto;
}
.ChatDisplay th {
  background-color: #f7f7f7;
  text-align: left;
  font-weight: bold;
}

.ChatDisplay td:nth-child(2) {
  text-align: center;
}
.chat-container {
  display: flex;
  align-items: center;
}
.ChatDisplay button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  padding: 3px 8px;
  cursor: pointer;
}
.ChatDisplay__scroll {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}